# ======================================
# Laravel Core
# ======================================
/api_laravel/vendor/
/api_laravel/node_modules/
/api_laravel/public/storage
/api_laravel/public/hot
/api_laravel/storage/*.key
/api_laravel/.phpunit.result.cache

# Configurações de ambiente
api_laravel/.env
api_laravel/.env.*
/api_laravel/.phpstorm.meta.php
/api_laravel/_ide_helper*.php

# ======================================
# Cache, logs e temporários
# ======================================
/api_laravel/storage/framework/cache/data/*
/api_laravel/storage/framework/sessions/*
/api_laravel/storage/framework/testing/*
/api_laravel/storage/framework/views/*
/api_laravel/storage/logs/*
!/api_laravel/storage/logs/.gitignore

# ======================================
# Docker & Banco de Dados (Correção Crítica)
# ======================================
# Ignora TUDO dentro das pastas de dados dos serviços
docker/mysql/*
docker/redis/*

# Garante que não vamos versionar sockets, logs de erro ou arquivos de trava do MySQL
*.sock
*.lock
mysql.sock
/docker/mysql/mysql.sock

# ======================================
# Arquivos Pessoais e Ferramentas
# ======================================
comando-docker.txt
*.sql
*.sqlite

# ======================================
# IDEs, SO e Editores
# ======================================
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
.phpunit.result.cache

# ======================================
# Build / Outros
# ======================================
dist/
coverage/


# ======================================
# Frontend (Vue.js / Vite / Node)
# ======================================
/frontend/node_modules/
/frontend/dist/
/frontend/.eslintcache
/frontend/.stylelintcache
/frontend/.vite-inspect

# Logs de erro do Node/NPM
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/pnpm-debug.log*

# Configurações locais e temporários do Vite
/frontend/.temp/
/frontend/.cache/

# Se você criar um .env específico para o front futuramente
# /frontend/.env
# /frontend/.env.local
# /frontend/.env.*.local
